#navbar {
    background-color:$bg-color;
    .header {
      display: flex;
      justify-content: space-between;
      
    li {
      padding: 0px 10px 0px 10px;
      a {
        color: $fontcolor !important;
      &:hover {
        color: aquamarine !important;
      }}
      .dropdown-menu {
        a {
          color:#000;
        }
      }
    }
  
    .btn {
  @include btn;
  padding: 7px 20px ;
    }}
  
  }