$fontsize: 30px;
$bg-color: #37517e;
$bg-color2: #f3f5fa;
$fontcolor: #fff;
$borderradius: 25px;
$hovercolor:#47b2e4;
$btnpadding: 10px 30px;
$btnborder:2px solid #47b2e4;
$headingpadding: 50px 0px;
$sectionpadding: 50px 0px;
$bottompadding: 15px;
$toppadding: 20px;
$section-end-border: 3px solid #47b2e4;